body {
    background-color: white;
margin: 0;
    padding: 0;

}

header{
    padding: 0;
    background-color: black;
    position: fixed;
    z-index: 1;
    top: 0;
    width:100%;
}

.header-logo{
    margin-left: 20px;
    color: white;
}


.main-title {
    margin-top: 200px;
    margin-bottom: 25px;
    font-family: 'Rubik', sans-serif;;
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 27px;
    align-items: center;
    text-align: center;
    letter-spacing: 0;
    color: #34C465;

}

.team-name {
    margin: 0;
    align-items: center;
    text-align: center;
    color: #AEA6A6;
    font-weight: 600;
    font-size: 26px;
    line-height: 27px;
}

#myChart {
    align-items: center;
    margin: 0;
    background-color: white;
    max-width: 1200px;
    height: 1000px;
}

.date-today {
    align-items: center;
    text-align: center;
    letter-spacing: 0;
    color: #000000;
}

.container {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.day-prices {
    margin-right: 50px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 4px solid #34C365;
}


#hour-price,
#avg-price,
#min-price,
#max-price
{
    margin-bottom: 10px;
}


.price-text {
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    margin: 0;
    font-style: normal;
    font-size: 24px;
    line-height: 27px;
    align-items: center;
    text-align: center;
}

h4 {
    align-items: center;
    text-align: center;
    font-size: 34px;
}

.graph{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

.consumption-time{
    display: flex;
    flex-direction: row;
}

.consumption-container{
margin: 100px 200px 100px 200px;
    height: 80px ;
    border: 3px solid #34C465;
    border-radius: 60px;
}
